<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>[%-6.6level] %-35.35logger{15} %-25.25thread %date{ss.SSS} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="org.apache.ignite" level="ERROR"/>

  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
